<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.arellomobile.menu"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".BottomNavigationActivity"
			android:screenOrientation="portrait" />

		<activity
			android:name=".MenuScreenActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".NavigationDrawerActivity"
			android:label="@string/title_activity_navigation_drawer"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>

		<activity
			android:name=".SubMenuActivity"
			android:screenOrientation="portrait" />
	</application>

</manifest>